.form-containerrr{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
}
.form-textenttt{
    width: 30%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid black;
    background-color:brown;
    color: white;
    border: 3px solid red;
    font-family: cursive;

}
.form-box{
    display: flex;
    gap: 2rem;
}
.form-boxxg{
    display: flex;
    gap: 2rem;
}